<p>Hi,</p>

<p>You have been invited to join a <%= @invite.invitable_type %>.</p>

<p>Too see further information, please register at this url:</p>
<p><%= @url %></p>

<p>Best wishes,</p>
<p>Bachelor Party Sofia team</p>
